<div class="container my-3">
    <h2>Delete Note: {{this.note._id}}</h2>
    <form action="/api/delete/{{this.note._id}}" method="post">
        <button type="submit" class="btn btn-danger">Confirm Delete ?</button>
    </form>
</div>