<div class="container my-3">
    <h2>Edit Note: {{this.note._id}}</h2>
    <form action="/api/edit/{{this.note._id}}" method="post">
        <div class="form-group">
            <label for="title">Note title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{this.note.title}}">
        </div>
        <div class="form-group">
            <label for="description">Note description</label>
            <textarea rows="3" class="form-control" id="description" name="description">{{this.note.description}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>